body {
    background-color: hsl(215, 28%, 17%);
    margin: 0;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    flex: stretch;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}
/* Neck Start */
.neck {
    display: flex;
    flex-direction: column;
    color: #e5e7eb;
    
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    padding: 30px;
}

ul {
    list-style: none;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.logo {
    font-size: 18px;
    font-weight: 900;
    color: #f9faf8;
}
.links {
    display: flex;
    gap: 10px;
}

.header-bottom {
    display: flex;
    margin: 0 150px;
    padding: 30px;
}
.intro-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    gap: 20px;
}

.intro-info.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.intro-info.content {
    text-align: center;
    max-width: fit-content;
}

.header-button {
    background-color: #3882F6;
    border: none;
    color: #e5e7eb;
    padding: 15px 35px;
    border-radius: 10px;
    margin-top: 25px;
}

.intro-image {
    min-width: 640px;
    min-height: 960px;
}
/* Neck End */

/* Chest Start */
.chest {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(225, 253, 255);
    gap: 30px;
    padding-top: 25px;
    
}

.chest.title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    margin-bottom: 75px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 480px;
    border: 7px solid #3882F6;
    border-radius: 3em;
}

.card.title {
    border: none;
    font-size: 25px;
    font-weight: 600;
    
}

.card.one {
    background-color: rgb(103, 185, 195);
}

.card.two {
    background-color: rgb(156, 60, 60);
}

.card.three {
    background-color: rgb(241, 241, 120);
}

.card.four {
    background-color: rgb(84, 89, 100);
}
/* Chest Start */

/* Core Start */
.core {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin:10px 0 10px;
}

.quote.author {
    font-size: 20px;
    font-weight: bold;
    margin-left: 500px;
}
/* Core End */

/* Leg Start */
.leg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 253, 255);
    margin-bottom: 5px;
}
.leg.border {
    display: flex;
    background-color: #3882F6;
    min-width: 1400px;
    min-height: 200px;
    margin: 125px 0 125px;
    border-radius: 1em;
    text-align: center;
}

.border.title {
    font-size: 24px;
    color: #f9faf8;
}

.border.text {
    margin-bottom: 30px;
}

.border.button {
    background-color: #3882F6;
    border: none;
    color: #f9faf8;
    font-size: 15px;
    padding: 15px 35px;
    border-width: 2px;
    border-style: solid;
    border-color: #f9faf8;
    border-radius: 10px;
}
/* Leg End */
.feet {
    margin: 0 auto;
    color: #e5e7eb;
    padding-bottom: 5px;
}

